/* -----------universal -------------- */
*{
    margin: 0;
    padding: 0;
}
/*------------------------------------------header section--------------------------------------- */
.web-header{
    background-image: url("../assets/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    text-align: right;
}
/* ---------------nav ------------------ */
nav{
    margin: 0px 25px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-weight: 1200px;
    font-size: 80px;
    margin-left: 30px;
}
.nav-items{
    display: flex;
    margin-right: 30px;
}
.nav-element{
    font-size: 30px;
    margin: 0px 25px;
    list-style: none;
}
.text-special{
    color: #F15B22;
}

/* ---------------header content------------- */
.header-title{
    text-align: right;
    margin-right: 300px;
    margin-left: 1000px;
    margin-top: 130px;
    margin-bottom: 25px;
    font-weight: 500px;
    font-size: 85px;
}
.header-title-description{
    color: #444343;
    text-align: right;
    font-weight: 400px;
    font-size: 20px;
    margin-right: 300px;
    margin-left: 1150px;
    margin-bottom: 10px;
}
.quote-owner{
    text-align: right;
    margin-right: 300px;
    font-weight: 400px;
    font-size: 25px;
}
.btn-header{
    background-color: #F15B22;
    font-weight: 600px;
    font-size: 30px;
    margin-right: 300px;
    margin-top: 30px;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
}

/* -------------------------------------main section--------------------------------------------- */

/* -----------------failure description---------------- */
.failure-description{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    background-size: cover;
}
.failure-section-title{
    font-weight: 700px;
    font-size: 50px;
    margin-left: 200px;
    margin-right: 500px;
    margin-bottom: 25px;
    padding-top: 200px;
}
.section-title-description{
    color: #444343;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 500px;
}
.img{
    margin-left: 300px;
}
.failure-history{
    margin-left: 200px;
    font-size: 25px;
    color: #444343;
}
i{
    color: #16D887;
    font-size: 25px;
}
/* -----------------------------learning plan section-------------------------- */
.learning-plans{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.skill-icon{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}
.skill{
    margin: 10px 45px;
    text-align: center;
}
.skill-title{
    font-size: 30px;
    font-weight: 700px;
    margin-bottom: 20px;
}
.skill-comment{
    color: #737272;
    font-size: 25px;
}
/* ------------positive mindset section------- */
.positive-mindset{
    background-image: linear-gradient(to right, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("../assets/watch.png");
    background-repeat: no-repeat;
    width: 1200px;
    height: 300px;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 130px;
}
.section-title{
    font-weight: 700px;
    font-size: 40px;
    color: #FFFFFF;
    width: 600px;
    margin-left: 65px;
    padding-top: 60px;
}
.btn-primary{
    color: #F15B22;
    background-color: #FFFFFF;
    font-size: 25px;
    font-weight: 600px;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 65px;
}